    $font-family: 'Open Sans', sans-serif;
    $font-family-header: 'Rubik', sans-serif;
    $font-size: 16px;
    $color-principal: #099d8d;
    $color-secundario: #14d9c4;
    $color-letra: #54585a;
    $color-fondo: #b8b8b9;
