@media all and (min-width: 1024px) {
  .equipo-blanco .parrafo-equipo {
    padding-left: 300px;
    padding-right: 300px;
  }

  .gris {
    padding-left: 140px;
    padding-right: 140px;
  }

  .quienes-somos {
    margin-left: 140px;
    margin-right: 140px;
  }

  .lema {
    width: 574px;
    transform: translateY(-336px);
    padding-right: 30px;
    padding-left: 30px;
    margin-left: 140px;
  }

  .texto-lema {
    font-size: 24px;
  }

  .contenedor {
    width: 278px;
    height: 278px;
  }

  .personal {
    width: 70%;
  }

  .footer {
    padding-left: 170px;
    padding-right: 170px;
  }
}