@media all and (min-width: 1024px) {
  .header {
    height: 55px;
    max-width: 100%;
  }

  .header__section--logo {
    margin-left: -600px;
  }

  .header__section--title {

    z-index: 1;
    position: absolute;
    font-size: 30px;
  }

  .header__section--nav ul {
    z-index: 2;
    position: absolute;
    top: 5px;
    margin-left: 600px;
    width: 450px;
    font-size: 20px;
  }

  .main {
    height: 900px;
  }

  .main__boxes--container {

    margin-right: 50px;

  }

  .footer {
    max-width: 100%;
  }

  .footer__section--nav ul {
    margin-left: -250px;

    width: 350px;

    font-size: 20px;
  }

  .footer__section2--rrss {

    margin-right: -55px;
    width: 150px;

  }


}