@media all and (min-width:500px) {



    .main {

        border-left-color: var(--color-grey);
        border-left-style: solid;
        border-left-width: 30px;



    }

    .main__boxes--container {
        background-color: green;
        height: 100vh;
        min-width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;



    }

    .main__boxes--element {
        width: 15em;
        height: 12em;
        background: var(--color-header);
        border: 1px solid;
        margin-bottom: 10px;


    }
}