.cabeza {
  width: 100%;
  height: 421px;
  text-transform: uppercase;
  @media all and (min-width: 768px) {
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: none;
    color: white;
  }

  a:hover {
    color: grey;
  }
}

.fixed {
  position: fixed;
  z-index: 100;
  width: 100%;
  @media all and (min-width: 768px) {
    display: flex;
    flex-direction: row;
  }
}

.menu1 ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  opacity: 0.9;
  background-color: $color-secundario;
  height: 45px;
  justify-items: center;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
  justify-content: space-between;
  color: white;
  font-size: 15px;
  font-family: $font-family-header;
  @media all and (min-width: 768px) {
    width: 80vw;
    height: 60px;
    opacity: 0.95;
    display: flex;
    text-align: right;
    justify-content: flex-end;
    gap: 30px;
    background-color: $color-principal;
  }
  @media all and (min-width: 1200px) {
    padding-right: 80px;
  }
}

.nombre-header {
  background-color: $color-principal;
  width: 100%;
  height: 60px;
  text-align: center;
  align-items: center;
  padding-top: 20px;
  font-size: 16px;
  color: white;
  opacity: 0.95;
  box-sizing: border-box;
  font-family: $font-family-header;
  @media all and (min-width: 768px) {
    margin: 0;
    width: 30%;
    opacity: 0.95;
    padding-left: 20px;
    padding-top: 22px;
    flex-grow: 1;
  }
}

.adaimg {
  width: 100%;
  height: 421px;
  position: absolute;
  top: 0;
  z-index: -999;
  display: flex;
  justify-content: center;
}

.img2 {
  width: 100%;
  height: 100%;
  @media all and (min-width: 768px) {
    transform: scale(0.8);
  }
  @media all and (min-width: 1200px) {
    transform: scale(1);
    width: 700px;
  }
}
